USE [master]
GO
/****** Object:  Database [DB_Carta]    Script Date: 07/10/2018 17:23:06 ******/
CREATE DATABASE [DB_Carta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Carta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_Carta.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_Carta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_Carta_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Carta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Carta]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 07/10/2018 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[nombrec] [varchar](100) NOT NULL,
	[descrip] [varchar](2000) NULL,
	[encarg] [varchar](100) NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[nombrec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INGRED]    Script Date: 07/10/2018 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INGRED](
	[nombrei] [varchar](100) NOT NULL,
	[unidades] [decimal](18, 0) NULL,
	[almacen] [decimal](18, 0) NULL,
	[nombrep] [varchar](100) NULL,
 CONSTRAINT [PK_INGRED] PRIMARY KEY CLUSTERED 
(
	[nombrei] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PLATO]    Script Date: 07/10/2018 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PLATO](
	[nombrep] [varchar](100) NOT NULL,
	[descrip] [varchar](2000) NULL,
	[nivel] [int] NULL,
	[foto] [nvarchar](max) NULL,
	[precio] [decimal](18, 0) NULL,
	[nombrec] [varchar](100) NULL,
	[nombrei] [varchar](100) NULL,
 CONSTRAINT [PK_PLATO] PRIMARY KEY CLUSTERED 
(
	[nombrep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UTILIZA]    Script Date: 07/10/2018 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UTILIZA](
	[nombrep] [varchar](100) NOT NULL,
	[nombrei] [varchar](100) NOT NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK_UTILIZA] PRIMARY KEY CLUSTERED 
(
	[nombrep] ASC,
	[nombrei] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_PLATO]    Script Date: 07/10/2018 17:23:06 ******/
CREATE NONCLUSTERED INDEX [IX_PLATO] ON [dbo].[PLATO]
(
	[nombrep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UTILIZA]    Script Date: 07/10/2018 17:23:06 ******/
CREATE NONCLUSTERED INDEX [IX_UTILIZA] ON [dbo].[UTILIZA]
(
	[nombrep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PLATO]  WITH CHECK ADD  CONSTRAINT [PLATO_01] FOREIGN KEY([nombrec])
REFERENCES [dbo].[CATEGORIA] ([nombrec])
GO
ALTER TABLE [dbo].[PLATO] CHECK CONSTRAINT [PLATO_01]
GO
USE [master]
GO
